NAME: Vignesh Murugan
# Machine Learning Practice - Asynchronous
## Homework 0

### Objectives
* Learn to use Jupyter Hub
* Practice basic python operations

### Instructions
* Only work in a copy of the file that is from your ~/homework_in/ directory
   + __If you do not use your own copy of this file, then it is an automatic zero on the assignment__
* Read the code below 
* For any cell that is flagged as *TODO*, complete the code according to the specifications
* Execute each cell and verify that it is showing correct results
* Hand-In Procedure
  + Make sure that your notebook has been saved.  You are responsible for ensuring that the copy that you submit is current and complete
  + Download this file to your local machine (extension: .ipynb)
  + Submit to the Gradscope Notebook HW0 dropbox

### General References
* [Jupyter Lab Documentation](https://jupyterlab.readthedocs.io/en/stable/)
* [Python Built-in Functions](https://docs.python.org/3/library/functions.html)
* [Python Data Structures](https://docs.python.org/3/tutorial/datastructures.html)
* Python Lists
  + [Reference Lists](https://python-reference.readthedocs.io/en/latest/docs/list/)
* Enumerated Lists
  + [Example 1 using enumerate()](https://www.geeksforgeeks.org/enumerate-in-python/)
  + [Example 2 using enumerate()](https://www.afternerd.com/blog/python-enumerate/)
* [Python Cheat Sheets](https://ehmatthes.github.io/pcc/cheatsheets/README.html)

In [11]:
# EXECUTE CELL
import copy

## Lists
Create small lists using a standard for loop and python's list comprehension syntax

In [12]:
""" TODO:
Create an empty list, x, and populate it with the first 
20 powers of 3, starting with 3^0

Use a standard for loop and the append() function
"""
x = []

for i in range(0,20):
    x.append(3 ** i)

#TODO

print(x)

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683, 59049, 177147, 531441, 1594323, 4782969, 14348907, 43046721, 129140163, 387420489, 1162261467]

In [13]:
""" TODO:
Create and populate another list, y, with the same powers of three
instead using List Comprehension
"""
y = [ (3**i) for i in range(0,20)]

print(y)

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683, 59049, 177147, 531441, 1594323, 4782969, 14348907, 43046721, 129140163, 387420489, 1162261467]

In [14]:
""" EXECUTE CELL
Verify that the two lists have identical content
"""
x == y

True

### Enumerating Lists

In [15]:
""" TODO:
Use the enumerate() function to print each element of 
the list y, alongside its index. For example, output 
something of a similar form:
    y[0]:  1
    y[1]:  3
      :
      :
"""

for i,j in enumerate(y):
    print(f"y[{i}]: {j}")

y[0]: 1
y[1]: 3
y[2]: 9
y[3]: 27
y[4]: 81
y[5]: 243
y[6]: 729
y[7]: 2187
y[8]: 6561
y[9]: 19683
y[10]: 59049
y[11]: 177147
y[12]: 531441
y[13]: 1594323
y[14]: 4782969
y[15]: 14348907
y[16]: 43046721
y[17]: 129140163
y[18]: 387420489
y[19]: 1162261467

### Copying lists
In python, the variable used for a list is actually a reference that points to where the list resides in memory. When using normal assignment sytnax to copy the contents of a list to create another list, both lists will reference the same memory location. Thus, a change to one variable will change both. Copies made using this syntax are refered to as "shallow" copies.
For example,  
```python
  L1 = [1 ,3 ,4]  
  L2 = L1 # shallow copy  
  L2[1] = 55  
  print(L1) # the change will be visible in L1 and L2  
```
To create an independent copy of any list, i.e. a "deep" copy, one can use the copy.deepcopy() function. This will recursively create  separate memory space for the copied list.  
```python
  L3 = copy.deepcopy(L1)
```

In [16]:
""" TODO:
Create a shallow copy of x, named x_shallow
Changing x_shallow will change the original x list
"""
x_shallow = x
x_shallow[0] = 1.5
x_shallow

[1.5,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [17]:
x_shallow[0] = 1
x_shallow

[1,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [18]:
""" TODO:
Create a deep copy of x, named x_deep
Changing x_deep will NOT change the original x list
""" 

x_deep = copy.deepcopy(x)
x_deep

[1,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [19]:
x_deep[0] = 1.5
x_deep

[1.5,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [20]:
# EXECUTE CELL
x

[1,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [21]:
# EXECUTE CELL
x_deep[0] = 1138
x_deep

[1138,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [22]:
# EXECUTE CELL
# x[0] will still be 1
x

[1,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [23]:
# EXECUTE CELL
x_shallow[0] = 3417
x_shallow

[3417,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [24]:
# EXECUTE CELL
# x[0] will be 17
x

[3417,
 3,
 9,
 27,
 81,
 243,
 729,
 2187,
 6561,
 19683,
 59049,
 177147,
 531441,
 1594323,
 4782969,
 14348907,
 43046721,
 129140163,
 387420489,
 1162261467]

In [25]:
""" TODO:
Use the enumerate() function to print each element of 
the a reversed version of y, alongside its index. For example, output 
something of a similar form:
    y[0]:  1162261467
    y[1]:  387420489
      :
      :
"""
y_hat = copy.deepcopy(y)

y_hat.reverse()
y_hat


for i_hat,j_hat in enumerate(y_hat):
    print(f"y[{i_hat}]: {j_hat}")

y[0]: 1162261467
y[1]: 387420489
y[2]: 129140163
y[3]: 43046721
y[4]: 14348907
y[5]: 4782969
y[6]: 1594323
y[7]: 531441
y[8]: 177147
y[9]: 59049
y[10]: 19683
y[11]: 6561
y[12]: 2187
y[13]: 729
y[14]: 243
y[15]: 81
y[16]: 27
y[17]: 9
y[18]: 3
y[19]: 1

### More with lists

In [26]:
# TODO: use list comprehension to generate a list of elements in the list y whose rightmost digit is 9 (assume base 10)
y_mod = [num for num in y if num % 10 == 9]

In [29]:
# EXECUTE CELL
print(y_mod)

[9, 729, 59049, 4782969, 387420489]

In [34]:
# TODO: create a list z of tuples where each tuple contains the elements from y and reversed y, respectively.  The
#   first tuple will be (1, 1162261467)
z = [(original,reversed) for original,reversed in zip(y,y_hat)]

In [32]:
# EXECUTE CELL
for t in z:
    print(t)

(1, 1162261467)
(3, 387420489)
(9, 129140163)
(27, 43046721)
(81, 14348907)
(243, 4782969)
(729, 1594323)
(2187, 531441)
(6561, 177147)
(19683, 59049)
(59049, 19683)
(177147, 6561)
(531441, 2187)
(1594323, 729)
(4782969, 243)
(14348907, 81)
(43046721, 27)
(129140163, 9)
(387420489, 3)
(1162261467, 1)

## Dictionaries
Create a simple dictionary, obtain the lists of key-value pairs, keys, and values.

In [35]:
# TODO: Create a dictionary with a few entries.

dictionary = {'one': 1, 'two': 2, 'three': 3}

In [41]:
# TODO: Only iterate over the keys and print them
for key in dictionary:
    print(f"keys:{key}")

keys:one
keys:two
keys:three

In [45]:
# TODO: Only iterate over the values and print them
for value in dictionary.values():
    print(f"values:{value}")
#TODO

values:1
values:2
values:3

In [51]:
# TODO: Simulataneously iterate over the key-value pairs in the dictionary
# print them out

for key,value in dictionary.items():
    print(f"Key: {key}, Value: {value}")
#TODO

Key: one, Value: 1
Key: two, Value: 2
Key: three, Value: 3